<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Menu</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Food Menu</h1>
    <div id="filters">
      <label><input type="checkbox" id="veg"> Veg</label>
      <label><input type="checkbox" id="nonveg"> Non-Veg</label>
      <label><input type="checkbox" id="dessert"> Dessert</label>
    </div>
    <div id="food-list">
      <!-- Food items will be dynamically inserted here -->
    </div>
  </div>
  <script src="js/food.js"></script>
</body>
</html>
